
/* CSS Variables */
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

/* General styles */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Typography */
 body {
  font-family: 'VT323', monospace;
  font-size: 40px;
  background-color: rgb(189, 235, 219);
 }

 a {
  text-decoration: none;
 }

 /*  CSS Gradient Background */
 .css-selector {
  background: linear-gradient(154deg, #2cd0f5, #facdfd, #6d76ff);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}
@keyframes AnimationName {
  0%{background-position:0% 75%}
  50%{background-position:100% 26%}
  100%{background-position:0% 75%}
}

/* Containers and Headers */

.container-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container-box {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 11px 11px 1px;
  border-style: outset;
  Border-color: #e1e1e1;
  Border-width: 6px;

}

.container-box  {
  display: flex;
  width: 700px;
  height: 750px;
  background-color: #c9c9c9;
  flex-direction: column;
  
}

header {
  display: flex;
  justify-content: stretch;
  border-style: outset;
  border-color: #c9c7c7;
  border-left: none;
  border-right: none;
  padding: 5px;
}

.header-text {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  margin-left: 40px;
}

 #btn-clear {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('assets/xmark-solid.svg');
  background-size: 24.5px 24px;
  background-repeat: no-repeat;
  padding: 0px;
  background-position: center;
}

#btn-clear img {
  justify-self: center;
  align-self: center;
}

/* Content */

.content-main {
  display: flex;
  flex: 1 1 auto;
  
}

.content-bottom {
  display: flex;
  justify-content: center;
  height: 140px;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  border-style: outset;
  border-color: #e9e8e8;
  border-left: none;
  border-right: none
  

}

.content-bottom-slider {
  display: flex;
  align-self: center;
  justify-self: center;
  background: #ffffff00;
  margin: 10px;
}

.content-space-top {
  height: 30px;
  border-top: 5px solid #969696;


}

.content-space-bottom {
  height: 0px;
  border-bottom: 5px solid #969696;
  margin-top: 10px;
}

/* Grid */
.grid-panel {
  display: flex;
  width: 16%;
  flex-direction: column;
  align-items: center;
}

.grid-main {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: flex-start;
}

.grid-main-box {
  background-color: white;
  width: 500px;
  height: 500px;
  border-style: inset;
  border-width: 4px;

}

.mouseHover {
  background-color: red;
}

/* Pixel Grid Styles */
#grid-container {
  display: grid;
  gap: 0px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);margin:-1px 0 0 -1px;    float: left; overflow: hidden; 
  border-width: 1px 0 0 1px;

}

#grid-container > div  {
  box-sizing: border-box;
  border-width: 0.001em;
  text-align: center;
  height: calc(500px/var(--grid-rows));
  width: calc(500px/var(--grid-cols));
  font-size: 10px;       float: left; overflow: hidden; 
 

}


/* Grid Buttons */
.grid-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 1;
 
}

.grid-buttons button {
  background-size: 30.5px 30.5px;
  background-repeat: no-repeat;
  padding: 0px;
  background-position:  center;
  border-style: outset;
}

.grid-buttons img {
  height: 25px;
  
}

.grid-buttons > button, .cpicker {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-style: outset;

}

.grid-buttons button:focus {
  background-color: #d8d8d8;
}
#btn-clear:focus {
  background-color: #d8d8d8;
}

button {
  border: none;
  border-radius: 3px;
}

#btn-clear {
  border-style: outset;
  border-color: rgb(221, 221, 221)

}
.grid-cpicker {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.grid-cpicker .cpicker {
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  background-color: rgb(230, 230, 230);
}

.cpicker {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  padding-left: 7px;  
  border-style: outset;

}

.cpicker > div {
  border:none;
  display: flex;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.2)
  

}

.cpicker .cpicker-color2 {
  display: flex;
  align-self: flex-end;
  transform: translate(-10px, -10px);
  background-color: white;
  z-index: 1;
}


input[type="range"] {
  -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #c9c9c9;
  height: 0.7rem;
  border-radius: 0.5rem;
  background-color: none;
  border-style: inset;
  border-radius: 10px;
  border-width: 4px;  

}

#textInput {
  font-size: 22px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -9px; /* Centers thumb on the track */
  background-color: #d5d5d5;
  height: 1.4rem;
  width: 1.4rem;  
  border-style: outset;


}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:active::-webkit-slider-thumb {
    outline: 4px solid #9b9b9b61;
}

/* Color Picker Styling */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  width: 24px;
}

 img {
  display: flex;
  height: 27px;
  margin: 10px;
  
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-top: 20px;
  color:#666666
}